extends layout

block content
	h1 welcome to #{title}
	
	form(method="post" action="contact/send")
		.form-group
			label Name
				input.form-control( name="name" type="text" placeholder="name")
		
		.form-group
			label Email
				input.form-control( name="email" type="email" placeholder="email")
		
		.form-group
			label Phone Number
				input.form-control( name="contact" type="number"  placeholder="Phone Number")
		
		button.btn.btn-default(type="submit") Submit
	